{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">Users</span>
                    <h5>All Users</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><a href="{% url 'users:user-list' %}">{{ users_count }}</a></h1>
                    <small>All users</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">Hosts</span>
                    <h5>Total Hosts</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><a href="{% url 'assets:asset-list' %}">{{ assets_count }}</a></h1>
                    <small>All hosts</small>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">Online</span>
                    <h5>Online Users</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><a href="{% url 'terminal:session-online-list' %}"> <span id="online_users"></span>{{ online_user_count }}</a></h1>
                    <small>Online users</small>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">Connected</span>
                    <h5>Online sessions</h5>
                </div>
                <div class="ibox-content">
                        <h1 class="no-margins"><a href="{% url 'terminal:session-online-list' %}"> <span id="online_hosts"></span>{{ online_asset_count }}</a></h1>
                    <small>Online sessions</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 border-bottom white-bg dashboard-header" style="margin-left:15px;height: 346px">
            <h2>TOP5 Active Users</h2>
            <small>Last week, <span class="text-info">{{ user_visit_count_weekly }}</span> users have logged in <span class="text-success">{{ asset_visit_count_weekly }}</span> times into our asset servers.</small>
            <ul class="list-group clear-list m-t">
                {% for data in user_visit_count_top_five %}
                    <li class="list-group-item fist-item">
                        <span class="pull-right">
                            {{ data.total }}times/week
                        </span>
                        <span class="label ">{{ forloop.counter }}</span> {{ data.user }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-7" id="top10" style="margin-left: -15px;height: 346px;padding: 15px 0 15px 0;"></div>
        <div class="col-sm-3 white-bg" id="top1" style="margin-left: -15px;height: 346px">
            <div class="statistic-box">
                <h4>
                    Active User/Hosts Percentage
                </h4>
                <p>
                    Monthly Active Users/Hosts
                </p>
                <div class="row text-center">
                    <div class="col-sm-6">
                        <div id="activeUser"  style="width: 140px; height: 140px;">

                        </div>
                        <h5>Users</h5>
                    </div>
                    <div class="col-sm-6">
                        <div id="activeAsset" style="width: 140px; height: 140px;"></div>
                        <h5>Hosts</h5>
                    </div>
                </div>
                <div class="m-t">
                    <small></small>
                </div>
            </div>
        </div>
    </div>
    <br/>

    <div class="row">
        <div class="col-sm-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Weekly Top10 Asset Hosts</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user"></ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content ibox-heading">
                    <h3><i class="fa fa-inbox"></i> Weekly Top10 Asset Hosts </h3>
                    <small><i class="fa fa-map-marker"></i> Login times & Last Login. </small>
                </div>
                <div class="ibox-content inspinia-timeline">
                    {% if week_asset_hot_ten %}
                        {% for data in week_asset_hot_ten %}
                            <div class="timeline-item">
                                <div class="row">
                                    <div class="col-xs-5 date ellipsis">
                                        <i class="fa fa-info-circle"></i>
                                        <strong data-toggle="tooltip" title="{{ data.asset }}">{{ data.asset }}</strong>
                                        <br/>
                                        <small class="text-navy">{{ data.total }} times</small>
                                    </div>
                                    <div class="col-xs-7 content no-top-border">
                                        <p class="m-b-xs">Last Login User</p>
                                        <p>{{ data.last.user }}</p>
                                        <p> at {{ data.last.date_start |date:"Y-m-d H:i:s" }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="text-center">(No data)</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Last 10 Times Login</h5>
                    <div class="ibox-tools">
                        <span class="label label-info-light">10 Messages</span>
                       </div>
                </div>
                <div class="ibox-content ibox-heading">
                    <h3><i class="fa fa-paper-plane-o"></i> Login Records </h3>
                    <small><i class="fa fa-map-marker"></i> Last 10 Times Logins. </small>
                </div>
                <div class="ibox-content">
                    <div>
                        <div class="feed-activity-list">
                            {% if last_login_ten %}
                                {% for login in last_login_ten %}
                                    <div class="feed-element">
                                        <a href="#" class="pull-left">
                                            <img alt="image" class="img-circle" src="{% static 'img/avatar/user.png' %}">
                                        </a>
                                        <div class="media-body ">
                                            {% ifequal login.is_finished 0 %}
                                                <small class="pull-right text-navy">{{ login.date_start|timesince }} ago </small>
                                            {% else %}
                                                <small class="pull-right">{{ login.date_start|timesince }} ago </small>
                                            {% endifequal %}
                                            <strong>{{ login.user }}</strong> logged in {{ login.asset }} <br>
                                            <small class="text-muted">{{ login.date_start }}</small>

                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p class="text-center">(No data)</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5> Weekly Top10 Users</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user"></ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content ibox-heading">
                    <h3><i class="fa fa-user"></i> Weekly Top10 Users </h3>
                    <small><i class="fa fa-map-marker"></i> User Lgoin Times & Last Login. </small>
                </div>
                <div class="ibox-content inspinia-timeline">
                    {% if week_user_hot_ten %}
                        {% for data in week_user_hot_ten %}
                            <div class="timeline-item">
                                <div class="row">
                                    <div class="col-xs-5 date ellipsis">
                                        <i class="fa fa-info-circle"></i>
                                        <strong data-toggle="tooltip" title="{{ data.user }}">{{ data.user }}</strong>
                                        <br/>
                                        <small class="text-navy">{{ data.total }} times </small>
                                    </div>
                                    <div class="col-xs-7 content no-top-border">
                                        <p class="m-b-xs">Last Login </p>
                                        <p>{{ data.last.asset }}</p>
                                        <p> at {{ data.last.date_start |date:"Y-m-d H:i:s" }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="text-center">(No data)</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block custom_foot_js %}
<script src="{% static 'js/plugins/echarts/echarts.js' %}"></script>
<script>
$(document).ready(function(){
    $('#show').click(function(){
        $('#show').css('display', 'none');
        $('#more').css('display', 'block');
    });
    $("[data-toggle='tooltip']").tooltip();
});
    require.config({
        paths: {
            'echarts': '/static/js/plugins/echarts/chart/',
            'echarts/chart/line': '/static/js/plugins/echarts/chart/line',
            'echarts/chart/pie': '/static/js/plugins/echarts/chart/pie'
        }
    });
    require(
        [
            'echarts',
            'echarts/chart/line'
        ],
        function (ec) {
            var top10Chart = ec.init(document.getElementById('top10'));
            var option = {
                title : {
                    text: 'Summary of Recent Month',
                    subtext: 'History Summary of Recent Month ',
                    x: 'center'
                },
                tooltip : {
                    trigger: 'axis'
                },
                backgroundColor: '#fff',
                legend: {
                    data:['Login Times', 'Active Users','Active Assets'],
                    y: 'bottom'
                },
                toolbox: {
                    show : false,
                    feature : {
                        magicType : {show: true, type: ['line', 'bar']}
                    }
                },
                calculable : true,
                xAxis : [
                    {
                        type : 'category',
                        boundaryGap : false,
                        data : {{ month_str|safe}}
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [
                    {
                        name:'Login Times',
                        type:'line',
                        smooth:true,
                        itemStyle: {normal: {areaStyle: {type: 'default'}}},
                        data: {{ month_total_visit_count|safe}}
                    },
                    {
                        name:'Active Users',
                        type:'line',
                        smooth:true,
                        itemStyle: {normal: {areaStyle: {type: 'default'}}},
                        data: {{ month_user|safe }}
                    },
                    {
                        name:'Active Assets',
                        type:'line',
                        smooth:true,
                        itemStyle: {normal: {areaStyle: {type: 'default'}}},
                        data: {{ mouth_asset|safe }}
                    }
                ]
            };
            top10Chart.setOption(option);
        }
    );
    require(
        [
            'echarts',
            'echarts/chart/pie'
        ],
        function (ec) {
            var auChart = ec.init(document.getElementById('activeUser'));
            var option = {
                tooltip : {
                    trigger: 'item',
                    formatter: "{b} <br> {c} ({d}%)"
                },
                legend: {
                    show: false,
                    orient : 'vertical',
                    x : 'left',
                    data:['Active Users','Banned Users','UnLogin Users']
                },
                toolbox: {
                    show : false,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        magicType : {
                            show: true,
                            type: ['pie', 'funnel'],
                            option: {
                                funnel: {
                                    x: '25%',
                                    width: '50%',
                                    funnelAlign: 'center',
                                    max: 1548
                                }
                            }
                        },
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                series : [
                    {
                        name:'Source of Access',
                        type:'pie',
                        radius : ['50%', '70%'],
                        itemStyle : {
                            normal : {
                                label : {
                                    show : false
                                },
                                labelLine : {
                                    show : false
                                }
                            },
                            emphasis : {
                                label : {
                                    show : true,
                                    position : 'center',
                                    textStyle : {
                                        fontSize : '5',
                                        fontWeight : 'bold'
                                    }
                                }
                            }
                        },
                        data:[
                            {value:{{ month_user_active }}, name:'Active Users'},
                            {value:{{ month_user_disabled }}, name:'Banned Users'},
                            {value:{{ month_user_inactive }}, name:'UnLogin Users'}
                        ]
                    }
                ]
            };
            auChart.setOption(option);
        }
    );
    require(
        [
            'echarts',
            'echarts/chart/pie'
        ],
        function (ec) {
            var aaChart = ec.init(document.getElementById('activeAsset'));
            var option = {
                tooltip : {
                    trigger: 'item',
                    formatter: "{b} <br> {c} ({d}%)"
                },
                legend: {
                    show: false,
                    orient : 'vertical',
                    x : 'left',
                    data:['Login Hosts','Banned Hosts','UnLogined Hosts']
                },
                toolbox: {
                    show : false,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        magicType : {
                            show: true,
                            type: ['pie', 'funnel'],
                            option: {
                                funnel: {
                                    x: '25%',
                                    width: '50%',
                                    funnelAlign: 'center',
                                    max: 1548
                                }
                            }
                        },
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                series : [
                    {
                        name:'Source of Access',
                        type:'pie',
                        radius : ['50%', '70%'],
                        itemStyle : {
                            normal : {
                                label : {
                                    show : false
                                },
                                labelLine : {
                                    show : false
                                }
                            },
                            emphasis : {
                                label : {
                                    show : true,
                                    position : 'center',
                                    textStyle : {
                                        fontSize : '5',
                                        fontWeight : 'bold'
                                    }
                                }
                            }
                        },
                        data:[
                            {value:{{ month_asset_active }}, name:'Login Hosts'},
                            {value:{{ month_asset_disabled }}, name:'Banned Hosts'},
                            {value:{{ month_asset_inactive }}, name:'UnLogined Hosts'}
                        ]
                    }
                ]
            };
            aaChart.setOption(option);
        }
    );
</script>

{% endblock %}
